/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Nunito Sans', sans-serif;*/

:root {
    --col-main: #FF0000;
    --col-second : #28272c;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 100px;
}

.container {
    max-width: 1088px;
    margin: 0 auto;
}


.section-title{
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-title__white{
    color: white;
}
.section-title::before,
.section-title::after{
    content: "";
    width: 50px;
    height: 3px;
    background: var(--col-main);
    margin: 10px;
}
.btn{
    background: var(--col-main);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 14px;
    box-shadow: 0 2px 3px rgba(255, 0, 0, 0.3);
    display: inline-block;
}


/*hero*/

.hero{
    height: 100vh;
    min-height: 600px;
    background-image: url("../images/banner.jpeg");
    background-size: cover;
    /*overflow: hidden;*/
    display: flex;
    flex-direction: column;
    position: relative;
}

.hero::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.3);
    box-shadow: inset 0 0 100px rgba(0,0,0,0.2);
}

.hero__arrow{
    width: 55px;
    height: 55px;
    background: var(--col-main);
    background-image: url("../images/icon-arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    bottom: -27.5px;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0 2px 3px rgba(255, 0, 0, 0.3);
    z-index: 1;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: rgba(0,0,0,0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 100;
}

.header.sticky {
    transition: 0.5s;
    background: #222;
     box-shadow: 0 3px 10px rgba(0,0,0,0.6);
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.logo{
    height: 47px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: inline-flex;
    align-items: center;

}
.logo__icon{
    margin-right: 10px;
}
.logo span{
    color: var(--col-main);

}

.menu{
    height: 100%;
}
.menu__list{
    height: 100%;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu__list-el{}

.menu__list-link{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;
}

.menu__list-link:hover{
    background: rgba(255,255,255,0.2);
}

.banner{
    flex-grow: 1;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
.banner__title{
    color: #fff;
    font-size: 90px;
    line-height: 1;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    margin: 0;
}
.banner__text{
    font-family: 'Nunito Sans', sans-serif;
    color: #fff;
    max-width: 920px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0;
}
.banner__buttons{
    display: flex;
    justify-content: center;
}
/*.banner__btn--main{*/
/*    margin-right: 25px;*/
}
.banner__btn{
    width: 218px;
    height: 68px;
    background: var(--col-main);
    border-radius: 40px;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    margin: 0 12px;
    transition: 0.3s;
}
.banner__btn--second{
    color: var(--col-main);
    background: #fff;
}

.banner__btn:hover {
    transition: scale(1.1);
    box-shadow: 0 0 0 5px rgba(255, 0, 0, 0.23);
}

.banner__btn--second:hover {
    transition: scale(1.1);
    box-shadow: 0 0 0 5px rgba(255, 255, 0, 0.23);
}




/*section blog*/

.section-blog{
    padding: 100px 0;
}

.blog-list{
    display: flex;
    justify-content: space-around;
}

.blog-card + .blog-card{
    margin-left: 20px;
}
.blog-card{}
.blog-card__img{
    max-width: 100%;

}
.blog-card__title{
    font-size: 19px;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
}

.blog-card__text{
    font-size: 14px;
    font-weight: 300;
    color: #6a6a6a;
}

.blog-card__btn{}


/*section service*/



.section-service{
    padding: 100px 0;
    background: var(--col-second);
}

.service-list{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.service-card + .service-card {
    margin-left: 20px;
}
.service-card{
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*inna opcja wysrodkowania - ponizej*/
  /*  text-align: center;
    flex-basis: 25%;*/
}
.service-card__img{
    max-width: 100%;
    width: 170px;
    height: 170px;
    }

.service-card__title{
    font-size: 19px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    color: #FFF;
    text-align: center;
}

.service-card__text{
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: rgba(255,255,255,0.6);
    line-height: 1.3em;
}

.service-card__btn{}

/*section contact*/



.section-contact{
    padding: 100px 0;
}

.contact-cnt {
    display: flex;
}
.contact-img_image{
    width: 50%;
}

.contact-form{
    width: 50%;
    margin-left: 20px;

}
.form-row{
    margin-bottom: 20px;
}
.form-label{
    display: none;
    /*position: absolute;*/
    /*left: -9999999999999999999999px;*/
}

.form-input{
    width: 100%;
    height: 38px;
    border-radius: 8px;
    padding: 7px;
    border: 1px solid #D1D1D1;
}

.form textarea.form-input{
    height: 140px;
    resize: none;
}

.form-input:focus{
    outline: none;
    border: 1px solid var(--col-main);
    box-shadow: 0 1px 6px rgba(255, 0, 0, 0.3);
}

.form-checkbox{
    display: flex;
}

.form-checkbox__input{
    flex-shrink: 0;
    margin-right: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #D1D1D1;
    width: 22px;
    height: 22px;
    border-radius: 8px;
    outline: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.form-checkbox__input:checked{
    background-image: url("../images/icon-check.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.form-checkbox__label{
    color: #999;
    font-size: 14px;
    cursor: pointer;
}

.form-row{
    display: flex;
    justify-content: flex-end;
}

.form-button{
    width: 142px;
    height: 40px;
    background: none;
    color: var(--col-main);
    border: 1px solid var(--col-main);
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 2px 3px rgba(255, 0, 0, 0.3);
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    cursor: pointer;
}

/*footer*/


.footer{
    width: 100%;
    height: 232px;
    background: var(--col-second);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 100;
}

.footer__container{
    height: 100%;
}

.footer__container.container{
    padding: 40px 0;
}

.footer-logo{
    height: 47px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    margin-bottom: 22px;
}

.footer-logo__icon{
    margin-right: 10px;
}

.footer-logo span{
    color: var(--col-main);
}

.footer-menu{
    height: 97px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.footer-menu__list{
    height: 100%;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer-menu__list-link{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    padding: 0 40px 0 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.7;
    transition: 0.3s;
    /*margin: 7px 0;*/
}

.footer-menu__list-link:hover{
    color: var(--col-main);
}

.footer-small{
    margin-bottom: 7px;
    color: #D1D1D1;
}