/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Nunito Sans', sans-serif;*/

:root {
    --col-main: #FF0000;
    --col- : ;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    max-width: 1088px;
    margin: 0 auto;
}

